---
import { Col, Row, Stack } from 'react-bootstrap';
import { RiExternalLinkLine } from '@remixicon/react'
import Base from '../layouts/Base.astro';
import CopyButton from '../components/CopyButton';

const name: string = "Leo Rimmer";
const role: string = "Senior product designer and front-end developer";
const heading: string = role;
const subHeading: string = "Blending thoughtful UX, clean UI and robust code to craft seamless digital experiences.";
const current = {
    name: "Petdirect",
    url: "https://petdirect.co.nz/"
};

---

<Base
    title={`${name} • ${role}`}
    name={name}
>
    <Row>
        <Col
            xs={12}
            className="intro"
        >
            <Stack gap={4}>
                <div>
                    <h1 class="display-5">{heading}</h1>
                    <p class="lead">
                        {subHeading}
                    </p>
                    <p class="lead">
                        Currently working at{' '}
                        <Stack
                            className="d-inline-flex"
                            direction="horizontal"
                            as="a"
                            href={current.url}
                            target="_blank"
                            gap={1}
                        >
                            <span>{current.name}</span>
                            <RiExternalLinkLine />
                        </Stack>.
                    </p>
                </div>
                <div>
                    <CopyButton size="lg" client:load />
                </div>
            </Stack>
        </Col>
    </Row>
</Base>
