---
import {
    Card,
    Col,
    Container,
    Row
} from 'react-bootstrap';
import '../styles/styles.scss';
import CopyButton from '../components/CopyButton';

const name = "Leo Rimmer";
const role = "Visual/product designer and front-end developer";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{name} · {role}</title>
    </head>
    <style>
    </style>
    <body>
        <Container>
            <Row>
                <Col xs={12} lg={{offset: 3, span: 6}}>
                    <Card>
                        <Card.Body>
                            <Card.Title>{name}</Card.Title>
                            <p>
                                {role}.
                                Currently working at <a href="https://petdirect.co.nz/">Petdirect</a>.
                            </p>
                            <CopyButton client:load />
                        </Card.Body>
                    </Card>
                </Col>
            </Row>
        </Container>
    </body>
</html>
